{% extends 'base.html.twig' %} 
{% block title %}Reset your password{% endblock%} 

{% block body %}

<div class="login_register_wrap_section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl col-md-10">
        <div class="login_wrap">
          <div class="padding_eight_all bg-white">
            <div class="heading_s1">
              <h3>Reset Password</h3>
            </div>
            <div class="content">
              {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Reset password</button>
              {{ form_end(resetForm) }}
            </div>
                 
                          
            <div class="form-note text-center">
                <br>
                <br>
                <br>
              Tu n'as pas de compte et tu souhaites t'inscrire ? Pas de soucis,
              c'est par là <a href="{{ path('app_register') }}">📩</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
