{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .section { background-image: url(upload/images/products/collection2.jpg); background-repeat: round; padding: 40px; }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; color: rgb(162, 226, 43); }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container { color: yellow; }

    #horlogeDroite {
            right: 20px;
            top: 30px;

            font-family: "Trebuchet MS", Arial, sans-serif;
            color: #FFF;
            padding: 4px 3px 2px 5px;
            font-size: .8em;
            background-color: #333;
            box-shadow: 1px 1px 2px #000;
            animation-name: tictac;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            position: absolute;
            z-index: 3001;
        }

        @keyframes tictac {
            0% {
                transform: rotate(-5deg);
                margin-right: 13px;
            }

            50% {
                transform: rotate(5deg);
                margin-right: 20px;
            }

            100% {
                transform: rotate(-5deg);
                margin-right: 13px;
            }
        }
</style>

<section id="horlogeDroite">15:56</section>



    <script>
        
        // Clock
        function clock() {
            // now; est une variable, elle à besoin d'un peu d'espace mémoire
            let now = new Date();
            let s = now.getSeconds();

            // condit° ?  si c vrai  : si c'est faux
            s = s < 10 ? s = "0" + s : s;

            let m = now.getMinutes();
            m = m < 10 ? m = "0" + m : m;
            let h = now.getHours();
            h = h < 10 ? h = "0" + h : h;

            document.querySelector('#horlogeDroite').innerHTML = h + ":" + m + ":" + s;
        }

        // Toutes les 1000ms (1s) la fonction clock() sera exécutée
        setInterval(clock, 1000);
        //
        clock();

        /* jour et nuit. Mettre des div en haut avec les boutons pour changer
        <body class="dark">
        <div class="ihm_nuitjour">
        <div class="nuit" onclick="nuit()"></div>
        <div class="jour" onclick="jour()"></div>
        </div>
        
            function jour() {       enlever (remove) la class "dark" à body
        
        document.querySelector("body").classList.remove("dark");
            }
        
        function nuit() {                ajouter (add) la class "dark" à body
        
        document.body.classList.add("dark");
        } */

    </script>



<div class="section">


{% if app.user %}
<div class="example-wrapper">
    <h1>Coucou {{ app.user.firstname }} &#128513</h1>
</div>
{% else %}

<h1>Coucou !</h1>

{% endif %}

<style>
    /* @media screen permet au site de changer de disposition selon les tailles
    Ici, le site  s'adapte pour les tailles d'écran de 800px maximum 
    donc principalement les smartphones
    */
    @media screen and (max-width: 800px) 
    {
        .card-body {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-left: 20%;
            padding-right: 20%;
            background-color: rgb(181, 240, 114);
            font-size: 15px;
        }

    }
    .card-body {
        background-image: url(upload/images/products/collection2.jpg);
        border: groove;
        
    }
</style>

<main class="container">
    <section class="row">
        <div class="col-6">
            <br>

            <h1>Bienvenue dans notre boutique !</h1>

        </div>
        {% for category in categories %}
            {% if category.parent == null %}
            <div class="col-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="card h-100">
                        <div class="card-body">
                          <h6 class="card-title">{{ category.name }}</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="products" class="btn btn-primary">Voir les produits</a>
                        </div>
                    </div>
                    
                </div>
            {% else %}
                
            {% endif %}
            
        {% endfor %}
            
        
    </section>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<!--
    <br>
    <p style="margin-left: 20px">Test</p> 
    
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site e-commerce</h1>
                <p>Bienvenue dans notre boutique</p>
            </div>
            
            <br>
            <br>
            
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            
        </section>
    </main>
<br>
<br>



<div class="section small_pt pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <h2>Products</h2>
        </div>
    </div>
</div>
-->




{% endblock %}
