{% extends 'base.html.twig' %}

{% block title %}CGU {% endblock %}

{% block body %}


<div class="container">
    <h1 class="text-center" style="color: #59BDC4;">Conditions générales d'utilisation du site</h1>

    <p class="text-justify">
         <br>

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae repellendus pariatur ipsam dolorem incidunt consequatur iste facere fugiat dolorum, dicta est at natus nisi beatae, iusto quod. Commodi, accusantium?
        Ullam ducimus aliquid explicabo totam fuga suscipit, magni doloribus odit commodi beatae, aperiam iste eveniet delectus, voluptate nihil corrupti obcaecati? Inventore perferendis ipsum distinctio nulla tempora aperiam, molestias numquam voluptatum.
        Temporibus vel aliquid nihil velit maiores totam suscipit voluptates vitae dolorum, tenetur fugit, aperiam animi sit. Consequuntur ullam omnis voluptas modi itaque ducimus? Eius atque maxime nostrum. Nemo, eum earum.
        Voluptatum obcaecati eaque autem similique molestias odit rem repellendus adipisci eligendi harum nam, rerum, ipsa totam esse voluptates molestiae beatae saepe. Quidem soluta quibusdam earum placeat a, at explicabo aliquam.
        Nulla, nihil commodi culpa totam praesentium minus numquam inventore esse dicta vel deleniti earum aliquam necessitatibus, aliquid nemo ex amet iure, delectus autem dignissimos impedit quisquam et. Beatae, ea in?
        Dignissimos laboriosam mollitia pariatur provident, quis libero. Neque eaque voluptatum aspernatur iusto, repellendus laboriosam mollitia dolore maxime beatae aliquid, quae consequatur eius nesciunt, vitae asperiores. Obcaecati deserunt quidem sapiente quis?
        Delectus eaque iste dicta qui ex repellat eius commodi aperiam sapiente esse reiciendis earum impedit incidunt quam dolorum sunt ipsum suscipit sit, temporibus eos magni laboriosam. Beatae deleniti laudantium sit?
        Voluptatibus, ipsam aspernatur? Distinctio at vero totam molestiae quaerat facilis natus nam ipsam incidunt magni nobis voluptatibus enim, cumque, adipisci odio labore neque eveniet autem cum obcaecati nisi ipsa vitae.
        Sit enim delectus animi veritatis placeat quas suscipit perferendis consequatur accusamus odit voluptatum eum ab sunt maxime tenetur, nobis temporibus modi reprehenderit unde, nam labore cum! Voluptatem recusandae mollitia praesentium!
        Esse excepturi dignissimos iure, ducimus neque, ipsum soluta dolorum dolores recusandae libero eius inventore nostrum distinctio ab aut, aliquid tempore labore atque quas maiores adipisci ea quod assumenda! Nemo, velit?
        Iure nemo quas ut facilis ipsa unde quaerat corrupti, aperiam suscipit dolore iusto repudiandae officiis pariatur nobis ad vel expedita porro quae rem dolor magnam eum a perspiciatis illo? Totam!
        Pariatur eveniet cupiditate ex. Officiis omnis eos dolorum quo natus dolore porro vitae mollitia quae veritatis! Veniam, quia atque. Vero, eveniet culpa? Debitis explicabo, ullam culpa autem optio nihil repellat.
        Laboriosam, quis veniam velit dolor praesentium possimus exercitationem eum corporis assumenda explicabo rem nostrum repudiandae accusamus quas, voluptates nobis! Saepe recusandae debitis est placeat non facere sed blanditiis dolores nam?
        Similique incidunt eligendi dolor minima, ex placeat cum tempora consequatur vel debitis a autem accusantium ea nostrum esse? Porro nulla dolorum provident incidunt, deserunt delectus illo quod labore atque nihil.
        Quae, fugit! A illum dicta quod deserunt consequuntur ad delectus tenetur necessitatibus at inventore numquam accusantium incidunt nobis quas iure, dolore vel dignissimos culpa officiis sit reprehenderit. Ea, harum mollitia?
        Asperiores, debitis incidunt vero molestias iusto facilis cumque praesentium. Magni est voluptates earum iusto asperiores autem deleniti explicabo, assumenda nobis nulla id impedit! Assumenda, ex? Voluptatibus eligendi soluta cupiditate vel!
        Reprehenderit fugit sed numquam libero tempora esse blanditiis quia, veritatis iure incidunt vel recusandae odit magnam. Nulla tempora totam deleniti et, rerum vel distinctio exercitationem cupiditate, debitis maiores ad voluptate!
        Repudiandae ipsam quo quas possimus deserunt esse cupiditate aspernatur, saepe placeat obcaecati aliquid ea sed nesciunt sequi quidem optio veniam, dolorem dolor ipsum hic commodi suscipit. Nesciunt aperiam tempore exercitationem?
        Repellendus dolorum iure cupiditate illum quos iusto quis nobis, laboriosam veniam deserunt consequatur corrupti quam. Vero repellat praesentium voluptatem ipsum odit aperiam fugit animi, aliquid voluptas excepturi dolore in nulla?
        Aut, eligendi necessitatibus totam voluptates laudantium temporibus tenetur! Quo impedit voluptas iure vero. Consectetur aliquam, maiores molestiae quae incidunt necessitatibus dicta id autem suscipit dignissimos illum fugit quisquam deserunt repellendus?
    </p>
</div>
{% endblock %}
